<body>
  <div class="calculator">
    <input id = "display" disabled placeholder="0">
    <div class="keys">
      <button class="special" (click)="onSelectClear()">C</button>
      <button class="special" (click)="onSelectDelete()">DEL</button>
      <button class="operator" (click)="onSelectNumber($event.target)">%</button>
      <button class="operator" (click)="onSelectNumber($event.target)">/</button>
      <button (click)="onSelectNumber($event.target)">7</button>
      <button (click)="onSelectNumber($event.target)">8</button>
      <button (click)="onSelectNumber($event.target)">9</button>
      <button class="operator" (click)="onSelectNumber($event.target)">*</button>
      <button (click)="onSelectNumber($event.target)">4</button>
      <button (click)="onSelectNumber($event.target)">5</button>
      <button (click)="onSelectNumber($event.target)">6</button>
      <button class="operator" (click)="onSelectNumber($event.target)">-</button>
      <button (click)="onSelectNumber($event.target)">1</button>
      <button (click)="onSelectNumber($event.target)">2</button>
      <button (click)="onSelectNumber($event.target)">3</button>
      <button class="operator" (click)="onSelectNumber($event.target)">+</button>
      <button (click)="onSelectNumber($event.target)">0</button>
      <button (click)="onSelectNumber($event.target)">.</button>
      <button class="operator" (click)="onSelectNumber($event.target)">(</button>
      <button class="operator" (click)="onSelectNumber($event.target)">)</button>
      <button class="equals" (click)="onSelectEquals()">=</button>
    </div>
  </div>
</body>

